
*{
  font-family: Arial, Helvetica, sans-serif;
  color:white;
}
table,tr,td{
  font-size: 16px;
}
.container{
  padding: 5px;
}
img{
  width:80px;
  height: 60px;
}
span{
  padding: 10px;
}
input{
  width:98%;
}

td>button{
  color:black;
}
.remove{
  padding: 2px;
}
.cartDisplay{
  /* width:60%; */
  margin:0 auto;
}
/* .cartDisplay table{
  background-color: orange;
} */
.font-size-medium{
  font-size: 25px;
}
.background{
  background-color: #337ab7;
}
.totalBill{
  font-size: 30px;
  text-align: center;
  background-color: dodgerblue;
}
.bt{
  margin: auto;
  display: block;
  border-radius: 10%;
  width:250px;
}
.grey{
  background-color: #333;
}